


<div class="container p-lg-5">
  <div class="row row-1 py-2">
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://assets.myntassets.com/h_480,q_100,w_360/v1/assets/images/13677554/2021/2/18/3e969350-eacf-4dde-8b06-8ebcb16cbed61613637992474RedTapeMenWhiteMeshWalkingShoes1.jpg"
          class="card-img-top" style=" height: 300px">
        <div class="card-body">
         <div class="card-title mx-3">        
               <h6 class="fw-bold">Roadster </h6> 
               <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
               <h6> Rs.799 </h6>
              </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/17097806/2022/2/10/aa9f5212-f2eb-4531-b836-1df0c3d3fe2d1644484313283MastHarbourMenWhiteStripedSneakers1.jpg" 
        class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Roadster </h6>
                <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                <h6> Rs.799 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/17350726/2022/5/12/1fbba260-8584-4d2a-86fa-a5fa91ddad701652344722392-Puma-Men-White--Black-Colourblocked-IDP-Sneakers-87416523447-1.jpg"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
      </div>
    </div>
      

    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/c/1/k/-original-imagg3a8kjh7jc9j.jpeg?q=70"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://rukminim1.flixcart.com/image/400/400/xif0q/shoe/z/s/i/-original-imagg4kqbzkmtkqw.jpeg?q=70" 
        class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Roadster </h6>
                <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                <h6> Rs.799 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/kgsb1jk0-0/shoe/j/1/6/11999718-41-hrx-by-hrithik-roshan-navy-original-imafwxsc5wcjfb5w.jpeg?q=70"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
      </div>
    </div>
  
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1 ">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/e/z/7/-original-imagg3a8qere8g2y.jpeg?q=70"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://cdn.fashiola.in/L101064345/woodland-men-outdoor-shoes-men-nubuck-leather-mid-top-trekking-shoes.jpg" class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Roadster </h6>
                <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                <h6> Rs.799 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/21264632/2022/12/29/64dd8c9e-7839-471d-b990-3862651157741672307306172-Woodland-Men-Mid-Top-Leather-Chelsea-Boots-4071672307305663-1.jpg"
          class="card-img-top" style="height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
  </div>
</div>
</div>
</div>


