.card{
    width:84%;
    border-radius: 0%;
}
.card-img-top{
    border-radius: 0%;
}

.row{
    position: relative;
    padding-left: 20px;
    margin-left:24px;
    display:flex;
}

/* 
  .btn:hover {
      background: rgba(39, 13, 13, 0.505);
      color: #ffffff;
  }
   */