


<div class="container p-lg-5">
    <div class="row row-1 py-2">
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2527414/2018/7/3/6edab994-71e5-4779-9d4f-dbb8c9725fdd1530618573918-Roadster-Men-Black-Regular-Fit-Solid-Casual-Shirt-4915306185-1.jpg"
            class="card-img-top" style=" height: 300px">
            <!-- <button (click)="addTocart(product,$event)" class="bag-btn" data-id={{product.id}}>
              <i class="fas fa-shopping-cart"></i>
              add to bag
            </button> -->
          <div class="card-body">
           <div class="card-title mx-3">        
                 <!-- <h6 class="fw-bold">Roadster </h6> -->
                 <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                 <h6> Rs.799 (30% OFF)</h6>
                </div>
          </div>
        </div>
      </div>
      <!-- https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19140998/2022/7/16/4504833d-9bac-4125-a56a-82c91590492a1657974760357Shirts1.jpg -->
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://m.media-amazon.com/images/I/51K-P17TzIL._AC_SY450_.jpg" 
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <!-- <h6 class="fw-bold">Roadster </h6> -->
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://www.jiomart.com/images/product/500x630/rvgpxbsebk/majestic-man-men-pastel-pink-cotton-pack-of-1-kurta-product-images-rvgpxbsebk-2-202205291040.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <!-- <h6 class="fw-bold">Roadster </h6> -->
                    <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                    <h6> Rs.799 </h6>
                   </div>
             </div>
        </div>
      </div>
        
  
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/4453297/2019/12/2/77b5d9e0-8d65-4a36-94e7-290ed271db6b1575267599079-HRX-by-Hrithik-Roshan-Men-Olive-Green-Solid-Active-Bomber-Ja-1.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <!-- <h6 class="fw-bold">Roadster </h6> -->
                    <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                    <h6> Rs.799 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/10381447/2022/4/18/ecd777c3-d057-420f-9a09-b3a0daa69cf21650284975539CampusSutraMenBlackGreyColourblockedHoodedSweatshirt1.jpg" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <!-- <h6 class="fw-bold">Roadster </h6> -->
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/12288700/2021/10/21/1add2cf0-4826-441f-ae20-0cca69b899fd1634814726781-Roadster-Men-Blue-Washed-Denim-Jacket-6691634814726272-1.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <!-- <h6 class="fw-bold">Roadster </h6> -->
                    <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                    <h6> Rs.799 </h6>
                   </div>
             </div>
        </div>
      </div>
    
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1 ">
          <img
            src="https://adn-static1.nykaa.com/nykdesignstudio-images/pub/media/catalog/product/u/f/tr:w-270,/uf_hentee-full-olivegrn_1_34a7b313.jpg?rnd=20200526195200"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Roadster </h6>
                    <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                    <h6> Rs.799 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://sc01.alicdn.com/kf/U56e00c27c75d4a50a1c1fd6fa4791635y.jpg" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs.799 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19140996/2022/7/16/6634490b-5122-47b9-b8d5-6883d4ecea2a1657972357555Shirts1.jpg"
            class="card-img-top" style="height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Roadster </h6>
                    <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                    <h6> Rs.799 </h6>
                   </div>
             </div>
    </div>
  </div>
  </div>
  </div>
  
  
  