


<div class="container p-lg-5">
    <div class="row row-1 py-2">
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.ajio.com/medias/sys_master/root/20221012/PKOr/6347020eaeb269659c413559/-473Wx593H-465144477-black-MODEL2.jpg"
            class="card-img-top" style=" height: 300px">
          <div class="card-body">
           <div class="card-title mx-3">        
                 <h6 class="fw-bold">RANDOM</h6>
                 <h6 class="fw-normal">Set of 10 Collage Photo Frames</h6>
                 <h6> Rs. 1259 </h6>
                </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://m.media-amazon.com/images/I/71zMVchgj9L._SL1280_.jpg" 
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">eCraftIndia</h6>
                  <h6 class="fw-normal">Meditating Buddha Showpiece</h6>
                  <h6> Rs. 389 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://m.media-amazon.com/images/I/71j8NzMrlhL._SL1500_.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Homesake</h6>
                    <h6 class="fw-normal">Set of 2 Plant Hangers</h6>
                    <h6> Rs. 450 </h6>
                   </div>
             </div>
        </div>
      </div>
        
  
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://ii3.pepperfry.com/media/catalog/product/b/l/1100x1210/black---brown-our-happy-place-hanging-plaque-by-art-street-black---brown-our-happy-place-hanging-pla-vtbaqm.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Art Street</h6>
                    <h6 class="fw-normal"> Our happy place Wall Decor</h6>
                    <h6> Rs. 420 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/21057298/2022/12/5/fa20f60b-431e-4fbb-be1c-2461af454d831670242549881HomesakeSetOf2RoundBaseMetalPlantersWithPot1.jpg" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Homesake</h6>
                  <h6 class="fw-normal">Set of 2 Planters with Pot</h6>
                  <h6> Rs. 1999 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://5.imimg.com/data5/ANDROID/Default/2021/8/AC/LB/EI/69328751/product-jpeg-500x500.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">The Art House</h6>
                    <h6 class="fw-normal">Textured Metal Wall Decor</h6>
                    <h6> Rs. 5469 </h6>
                   </div>
             </div>
        </div>
      </div>
    
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1 ">
          <img
            src="https://m.media-amazon.com/images/I/718+atNXcsL._SL1500_.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">TIED RIBBONS</h6>
                    <h6 class="fw-normal">4 Pcs Artifical Grass</h6>
                    <h6> Rs. 899 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/21639766/2023/1/20/cefcbb2c-ae33-4eb7-8e88-921e4518a0481674214885514RandomPrintedMulticolorFlowerLotusCanvasPainting1.jpg" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">RANDOM</h6>
                  <h6 class="fw-normal">Canvas Wall Art</h6>
                  <h6> Rs. 900 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://i.etsystatic.com/27058936/r/il/faaf45/2827010513/il_fullxfull.2827010513_3n3c.jpg"
            class="card-img-top" style="height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">TIED RIBBONS</h6>
                    <h6 class="fw-normal">Set of 4 Monks Buddha Statue</h6>
                    <h6> Rs. 400 </h6>
                   </div>
             </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4 mb-4">
    <div class="card card-1">
      <img
        src="https://images.woodenstreet.de/image/cache/data%2Fwall-shelves%2Fgrizzo-wall-shelf%2Fhoney%2Fupdated%2F1-750x650.jpg"
        class="card-img-top" style="height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Homesake</h6>
                <h6 class="fw-normal">Macrame Wall Hanging Shelf</h6>
                <h6> Rs. 440 </h6>
               </div>
         </div>
</div>
</div>
<div class="col-12 col-sm-6 col-lg-4 mb-4">
    <div class="card card-1">
      <img
        src="https://img1.homary.com/filters:format(webp)/mall/file/2023/03/10/af752a6def15610d58d024b69c7b3061.jpg"
        class="card-img-top" style="height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Fancy Mart</h6>
                <h6 class="fw-normal">Glass 8 Shades Chandelier</h6>
                <h6> Rs. 9400 </h6>
               </div>
         </div>
</div>
</div>
  </div>
  </div>
  
  
  