


<div class="container p-lg-5">
  <div class="row row-1 py-2">
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://storage.sg.content-cdn.io/cdn-cgi/image/width=348,height=501,quality=75,format=auto,fit=cover,g=top/in-resources/1665f289-f3fd-4844-a3ba-644cef519e51/Images/ProductImages/Source/CMJNRD202-1.jpg"
          class="card-img-top" style=" height: 300px">
        <div class="card-body">
         <div class="card-title mx-3">        
               <h6 class="fw-bold">Roadster </h6>
               <h6 class="fw-normal">Men Slim Fit Jeans</h6>
               <h6> Rs. 1199 </h6>
              </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://m.media-amazon.com/images/I/51sWE++-msL._UL1024_.jpg" 
        class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Ven Heusen </h6>
                <h6 class="fw-normal">Men Slim Fit Joggers</h6>
                <h6> Rs. 1389 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://cdn.shopify.com/s/files/1/0266/6276/4597/products/300901102DARKBLUE_2_1024x1024.jpg?v=1654089201"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Levis </h6>
                  <h6 class="fw-normal">Men Tapered Fit Jeans</h6>
                  <h6> Rs. 2499 </h6>
                 </div>
           </div>
      </div>
    </div>
      

    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://images.meesho.com/images/products/56996808/apn3n_512.jpg"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Nike </h6>
                  <h6 class="fw-normal">Men Runnig Track Pants</h6>
                  <h6> Rs. 2159 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19384868/2022/8/4/628a8261-e209-474a-a3e2-3251cd8a82ac1659606421506LouisPhilippeNavyTrousers1.jpg" class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Louis Philippe </h6>
                <h6 class="fw-normal">Men SLim Fit Formal Trousers</h6>
                <h6> Rs. 2999 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://static.nike.com/a/images/c_limit,w_400,f_auto/t_product_v1/a38a10fc-752d-4c42-8139-3b2d5b43e1dc/image.jpg"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">ADIDAS</h6>
                  <h6 class="fw-normal">Men Solid Cotton Track Pants</h6>
                  <h6> Rs. 1469 </h6>
                 </div>
           </div>
      </div>
    </div>
  
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1 ">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/ks243gw0/jean/4/v/f/34-men-plain-black-jeans-flaying-original-imag5ph3dvajz2zb.jpeg?q=70"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">H&M </h6>
                  <h6 class="fw-normal">Men Regular Black Jeans</h6>
                  <h6> Rs. 1899 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://img.ltwebstatic.com/images3_pi/2021/07/01/16251229745ed9f29423243144133d1cdab51c1e7c.jpg" class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Highlander</h6>
                <h6 class="fw-normal">Men Liberal Fit Pleated Joggers</h6>
                <h6> Rs. 1600 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/kzygpzk0/track-pant/f/b/b/l-14632588-hrx-by-hrithik-roshan-original-imagbuzcca58z5vh.jpeg?q=70"
          class="card-img-top" style="height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Allen Solly </h6>
                  <h6 class="fw-normal">Cargo Joggers</h6>
                  <h6> Rs. 2224 </h6>
                 </div>
           </div>
  </div>
</div>
</div>
</div>


