<div class="container p-lg-5 my-4">
  <div class="row py-2">
    <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let item of menAccessoriesList; index as idx">
      <div class="card">
        <img [src]="item.imageUrl" class="card-img-top" style="width:100%; height: 300px">
        <div class="card-body" style="background-color: rgb(219, 210, 164);">
          <div class="card-title mx-3">        
            <h6 class="fw-bold">{{item.title}}</h6>
            <h6 class="fw-normal">{{item.description}}</h6>
            <h6 class="d-flex">{{item.price}}</h6>
          </div>
          <button class="btn btn-dark btn-sm ms-3" type="button" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div> 
  </div>
</div>


<!-- <div class="container p-lg-5">
  <div class="row row-1 py-2">
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://m.media-amazon.com/images/I/71EdkUYCICL._UX466_.jpg"
          class="card-img-top" style=" height: 300px">
        <div class="card-body">
         <div class="card-title mx-3">        
               <h6 class="fw-bold">Fossil </h6>
               <h6 class="fw-normal">Men Analogue Watch</h6>
               <h6> Rs. 8999 </h6>
              </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://images.ray-ban.com/is/image/RayBan/8053672611649_0001.png?impolicy=SEO_1x1" 
        class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Ray-Ban </h6>
                <h6 class="fw-normal">Men Oversized Sunglasses</h6>   
                <h6> Rs. 12300 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuxOAhSSGyP1wlFH9Lc0ZXQJ4mL0KdvdD3MFnzgy5rUQ&usqp=CAU&ec=48665699"
          class="card-img-top" style=" width:70%; height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Tommy Hilfiger</h6>
                  <h6 class="fw-normal">Solid Leather Wallet</h6>
                  <h6> Rs. 1999 </h6>
                 </div>
           </div>
      </div>
    </div>
      

    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_300,h_300/global/024223/01/fnd/IND/fmt/png/Essentials-Cap"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Puma </h6>
                  <h6 class="fw-normal">Black Cotton Cap</h6>
                  <h6> Rs. 599 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="http://cdn.shopify.com/s/files/1/0057/8938/4802/products/Untitled-5.png?v=1658294451" class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">boAt </h6>
                <h6 class="fw-normal">Wave Select M Smartwatch</h6>
                <h6> Rs. 5600 </h6>
               </div>
         </div>
      </div>
    </div> -->
   <!-- <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://rukminim1.flixcart.com/image/832/832/xif0q/belt/y/g/a/48-men-black-brown-textured-metro-reversible-belt-metrobelt-28-original-imaghnm9n6zznrjh.jpeg?q=70"
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">ZEVORA </h6>
                  <h6 class="fw-normal">Men Textured Belt</h6>
                  <h6> Rs. 499 </h6>
                 </div>
           </div>
      </div>
    </div>
   -->
     <!-- <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1 ">
        <img
          src="https://media.istockphoto.com/id/1182454657/photo/bohemian-living-room-interior-3d-render.jpg?s=612x612&w=0&k=20&c=qw37MGIiTL_jML3_Tbm4bM-jNLCrocSWj7DanhBr_bY="
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs. 799 </h6>
                 </div>
           </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img src="https://images.news18.com/ibnlive/uploads/2022/09/budget-friendly-home-decor-16630683643x2.jpg?impolicy=website&width=1600&height=900" class="card-img-top" style=" height: 300px">
        <div class="card-body">
          <div class="card-title mx-3">        
                <h6 class="fw-bold">Roadster </h6>
                <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                <h6> Rs. 799 </h6>
               </div>
         </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      <div class="card card-1">
        <img
          src="https://media.istockphoto.com/id/1404885159/photo/view-of-tripod-lamp-in-a-cozy-living-room-spending-warm-light.jpg?b=1&s=170667a&w=0&k=20&c=zsfHg353TKGXeE0DSSQL2A30zFv9P9YTyKggPe-efqE="
          class="card-img-top" style="height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Roadster </h6>
                  <h6 class="fw-normal"> Slim Fit Casual Shirt</h6>
                  <h6> Rs. 799 </h6>
                 </div>
           </div>
  </div>
</div> -->
<!-- </div>
</div> -->


