<nav class="navbar navbar-expand-lg navbar-dark w-100" style="background-color: white">
  <div class="container-fluid pe-lg-5 ps-0 d-flex justify-content-between ">
    <a class="navbar-brand ms-sm-1" href="#">
      <img src="./../../../assets/logo1.jpg" alt="" width="220" height="110" priority>
      <!-- <div class="fw-bold fs-2 text-dark">STORE</div> -->
    </a>
    
    <button class="navbar-toggler btn btn-dark" style="background-color:rgb(8, 7, 7)" type="button" data-bs-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100 " id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <div class="d-flex justify-content-lg-center w-100">
        <ul class="h5 navbar-nav ps-3">
          <li class="nav-item">
            <a class="nav-link text-dark " routerLinkActive="is-active"  routerLink="/" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="is-active"  routerLink="/men">Men</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="is-active"  routerLink="/women">Women</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark " routerLinkActive="is-active"  routerLink="/kids">Home & Living</a>
          </li> -->
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark" data-bs-toggle="dropdown" style="cursor: pointer;">
                MEN
              </a>
              <div class="dropdown-menu ">
                <a class="dropdown-item custom-bg-hover fw-bold " href="/topwear" routerLinkActive="is-active">Topwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/bottomwear" routerLinkActive="is-active">Bottomwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-footwear" routerLinkActive="is-active">Footwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-indian" routerLinkActive="is-active">Indian & Festive Wear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-accessories" routerLinkActive="is-active">Accessories</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark"  data-bs-toggle="dropdown" style="cursor: pointer;">
                WOMEN
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item custom-bg-hover fw-bold" href="/westernwear" routerLinkActive="is-active">Westernwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-indian" routerLinkActive="is-active">Indian &#38; Fushion Wear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-footwear" routerLinkActive="is-active">Footwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-accessories" routerLinkActive="is-active">Accessories</a>
              </div>
            </div>
          </li>  
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark" data-bs-toggle="dropdown" style="cursor: pointer;">
                HOME &#38; LIVING
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/news" routerLinkActive="is-active">Home Decor</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/blogs" routerLinkActive="is-active">Storage</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/frequently-asked-questions" routerLinkActive="is-active">Furnishing</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/events" routerLinkActive="is-active">Lamps and Lighting</a>
                <!-- <a class="dropdown-item " routerLink="/frequently-asked-questions" routerLinkActive="is-active">Fashion Accessories</a> -->
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class=" d-flex justify-content-lg-end ps-3">
      <a routerLink="cart" class=" nav-link fs-4 me-4 ">
        <i class="bi bi-bag-fill"></i>
      <div class="cart-items">
        <!-- {{}} -->
      </div>
    </a>

      <a routerLink="login" class="nav-link fs-3">
        <i class="bi bi-person-fill"></i>
      </a>
    </div>
    
  </div>
</nav>
