
.is-active {
    font-weight: 600;
    color: rgb(126, 131, 186) !important;
  }

.custom-bg-hover:hover,
.custom-bg-hover:active {
  background: rgb(29, 37, 127) !important;
  color: #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* .navbar{
  height:95px;
} */