<nav class="navbar navbar-expand-lg navbar-dark w-100" style="background-color: rgb(221, 232, 228);">
  <div class="container-fluid pe-lg-5 ps-3 d-flex justify-content-between ">
    <a class="navbar-brand ms-sm-1" href="#">
      <img src="./../../../assets/logo-removebg-preview.png" alt="" width="100" height="70" priority>
      <!-- <div class="fw-bold fs-2 text-dark">STORE</div> -->
    </a>
    
    <button class="navbar-toggler btn btn-dark" style="background-color:rgb(8, 7, 7)" type="button" data-bs-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 " id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <div class="d-flex justify-content-lg-center w-100">
        <ul class="h5 navbar-nav ps-3">
          <li class="nav-item">
            <a class="nav-link text-dark " routerLinkActive="is-active"  routerLink="/home" [routerLinkActiveOptions]="{exact:true}">HOME</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="is-active"  routerLink="/men">Men</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" routerLinkActive="is-active"  routerLink="/women">Women</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link text-dark " routerLinkActive="is-active"  routerLink="/kids">Home & Living</a>
          </li> -->
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark" data-bs-toggle="dropdown" style="cursor: pointer;">
                MEN
              </a>
              <div class="dropdown-menu ">
                <a class="dropdown-item custom-bg-hover fw-bold " href="/topwear" routerLinkActive="is-active">Topwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/bottomwear" routerLinkActive="is-active">Bottomwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-footwear" routerLinkActive="is-active">Footwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-indian" routerLinkActive="is-active">Indian & Festive Wear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold"  href="/men-accessories" routerLinkActive="is-active">Accessories</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark"  data-bs-toggle="dropdown" style="cursor: pointer;">
                WOMEN
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item custom-bg-hover fw-bold" href="/westernwear" routerLinkActive="is-active">Westernwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-indian" routerLinkActive="is-active">Indian &#38; Fushion Wear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-footwear" routerLinkActive="is-active">Footwear</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/women-accessories" routerLinkActive="is-active">Accessories</a>
              </div>
            </div>
          </li>  

           <li class="nav-item">
            <a class="nav-link text-dark " routerLinkActive="is-active"  routerLink="/homedecor">HOME & LIVING</a>
          </li>

          <!-- <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link text-dark" data-bs-toggle="dropdown" style="cursor: pointer;">
                HOME &#38; LIVING
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item custom-bg-hover fw-bold" href="/homedecor" routerLinkActive="is-active">Home Decor</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/blogs" routerLinkActive="is-active">Storage</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" routerLink="/frequently-asked-questions" routerLinkActive="is-active">Furnishing</a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item custom-bg-hover fw-bold" href="/homedecor" routerLinkActive="is-active">Lamps and Lighting</a>
                <a class="dropdown-item " routerLink="/frequently-asked-questions" routerLinkActive="is-active">Fashion Accessories</a>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>

    <div class=" d-flex justify-content-lg-end ps-3">
      <a class=" nav-link fs-4 me-4" (click)="openEnd(content)" >
        <i class="bi bi-bag"></i>
        <p class="h6">Cart</p>
      <!-- <div class="cart-items">
      </div> -->
    </a>

    

      <a routerLink="login" class="nav-link fs-4">
        <i class="bi bi-person"></i>
        <p class="h6">Profile</p>
      </a>
    </div> 
    </div>
</nav>


<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Your Cart</h4>
    <a type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></a>
  </div>
  <div class="offcanvas-body d-flex flex-column align-items-center">
    <div class="row">
      <div class="col" *ngFor="let item of cartList; index as idx">
        <div class="card mx-5 my-3" style="width:12rem; height:18rem;"   >
          <img [src]="item.imageUrl" style="width:12rem; height:11rem;" class="card-img-top" alt="...">
          <div class="card-body text-center ">
            <h6 class="fw-normal">{{item.title}}</h6>
            <h6 class="fw-normal">{{item.description}}</h6>
            <h6 class="fw-normal">{{item.price}}</h6>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5 mb-5">
    <a class="btn btn-warning mx-5 btn-sm" type=button  href="cart">OPEN CART</a>
  </div>
</ng-template>
