
.is-active {
    font-weight: 600;
    color: rgb(104, 110, 176) !important;
  }

.custom-bg-hover:hover,
.custom-bg-hover:active {
  background: rgb(0, 0, 0) !important;
  color: #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
/* .navbar{
  height:95px;
} */