

<div class="container p-lg-5 my-4">
  <div class="row py-2">
    <div class="col-12 col-sm-6 col-lg-4 mb-4" *ngFor="let item of womenFootwearList; index as idx">
      <div class="card card-1">
        <img [src]="item.imageUrl" class="card-img-top" style="width:100%; height: 300px">
        <div class="card-body text-center" style="background-color: rgb(219, 210, 164);">
          <div class="card-title mx-3">        
            <h6 class="fw-bold">{{item.title}}</h6>
            <h6 class="fw-normal">{{item.description}}</h6>
            <h6 class="fw-bold">{{item.price}}</h6>
          </div>
          <button class="btn btn-dark btn-sm ms-3" type="button" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container p-lg-5">
    <div class="row row-1 py-2">
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/h_480,q_100,w_360/v1/assets/images/17861718/2022/4/12/d9dd84e8-9a2e-4d44-bba2-236faf7b5e2c1649758816801RedTapeMenBeigeSportsShoes1.jpg"
            class="card-img-top" style=" height: 300px">
            
          <div class="card-body">
           <div class="card-title mx-3">        
                 <h6 class="fw-bold">Red Tape</h6>
                 <h6 class="fw-normal">Women Walking Shoes</h6>
                 <h6>Rs. 1790 (30% OFF)</h6>
                </div>
          </div>
        </div>
      </div>
           <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/16530962/2021/12/24/9f9b34b2-cba5-415a-9718-c224263649f11640350292538-Puma-Unisex-Casual-Shoes-1941640350292216-1.jpg" 
          class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Puma</h6>
                  <h6 class="fw-normal">Women Black Sneakers</h6>
                  <h6>Rs. 2999 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://rukminim1.flixcart.com/image/832/832/xif0q/shoe/u/r/d/-original-imaggkkadkr2y454.jpeg?q=70"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Roadster</h6>
                    <h6 class="fw-normal">Women Solid Sneakers</h6>
                    <h6>Rs. 1090 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://www.jiomart.com/images/product/500x630/rvznd0zxfg/shezone-women-s-black-heels-product-images-rvznd0zxfg-1-202206022341.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Shezone</h6>
                    <h6 class="fw-normal">Comfort Heels</h6>
                    <h6>Rs. 1249 </h6>
                   </div>
             </div>
        </div>
      </div>
        
  
      
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/13203266/2021/2/17/c51da1a0-4b7c-43bb-871b-f3cd5d36b4db1613525194710VishudhWomenBlackSolidBlockHeels1.jpg" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Vishudh</h6>
                  <h6 class="fw-normal">Women Black Heels</h6>
                  <h6>Rs. 1120 </h6>
                 </div>
           </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/15806294/2021/11/30/1a64579c-5f9a-44d8-b5fa-9c9ecbd19d701638272622129TokyoTalkiesWomenWhiteTexturedOpenToeFlats1.jpg"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">Tokyo Talkies</h6>
                    <h6 class="fw-normal">Women Open Toe Flats</h6>
                    <h6>Rs. 599</h6>
                   </div>
             </div>
        </div>
      </div>
    
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1 ">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuMAgdJ3jIB-Ef3khT6ZD0YSDt1U2-N0mX0pv62gXHw&usqp=CAU&ec=48665699"
            class="card-img-top" style=" height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">DressBerry</h6>
                    <h6 class="fw-normal">Women T-Strap Fltas</h6>
                    <h6>Rs. 800 </h6>
                   </div>
             </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img src="https://stylestry.com/images/ProductImages/medium/cb57c3e5bb396c99353ed998191e656d920a4a89.webp" class="card-img-top" style=" height: 300px">
          <div class="card-body">
            <div class="card-title mx-3">        
                  <h6 class="fw-bold">Shoetopia</h6>
                  <h6 class="fw-normal">Women Solid Ballerinas</h6>
                  <h6>Rs. 899 </h6>
                 </div>
           </div>
        </div>
      </div> -->
      <!-- <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <div class="card card-1">
          <img
            src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19140996/2022/7/16/6634490b-5122-47b9-b8d5-6883d4ecea2a1657972357555Shirts1.jpg"
            class="card-img-top" style="height: 300px">
            <div class="card-body">
              <div class="card-title mx-3">        
                    <h6 class="fw-bold">WROGN</h6>
                    <h6 class="fw-normal">Men Casual Shirt</h6>
                    <h6>Rs. 1499 </h6>
                   </div>
             </div>
    </div>
  </div> -->
  <!-- </div>
  </div>
   -->
  
  