
.carousel-item,.carousel-inner{
    height: 600px;
    /* width: 100%; */
}

.card-1{
    width:89%;
    border-radius: 0%;
}
.row{
    position: relative;
    display:flex;
}
.row-1{
    padding-left: 15px;
    margin-left:18px;
    display:flex;
}

.card-img-top{
    border-radius: 0%;
}

.banner {
    min-height: calc(40vh - 60px);
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* text-align: center; */
    /* background: rgba(243, 242, 242, 0.8); */
    display: inline-block;
    padding: 2rem;
    /* background: rgba(255, 255, 255, 0.8); */
}
.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.banner-btn:hover {
    background: black;
    color: #ffffff;
}

/* .banner-btn:hover,
.banner-btn:focus{
    background: black;
    color: #ffffff;
    outline-offset: 3px;
} */